* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: sans-serif;
    font-size: 12px;
}

button {
    margin-bottom: 10px;
}

.sub {
    background-color: rgb(205,65,25);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: crosshair;
    padding: 10px 16px;
    vertical-align: top;
}

.sub:hover {
    background-color: rgb(133, 46, 22);
}

.join {
    background-color: white;
    color: rgb(16, 144, 255);
    border: 1px solid;
    border-radius: 2px;
    padding: 9px 14px;
    cursor: crosshair;
    margin: 0 8px;
    vertical-align: top;
}

.join:hover {
    background-color: rgb(197, 228, 255);
}
 
.tweet {
    background-color: rgb(71, 181, 255);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 16px;
    font-weight: bold;
    cursor: crosshair;
    transition: opacity 0.3s, box-shadow 0.3s;
    vertical-align: top ;
    
}

.tweet:hover {
    opacity: 0.6;
    box-shadow: 0 1px 3px  rgba(85, 85, 85, 0.568);
}

.uber {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}

.amazon {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    transition: opacity .15s;
}

.amazon:hover {
    opacity: 0.75;
}

.amazon:active {
    opacity: 0.5;
}