@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 26px;
}

a {
    text-decoration: none;
    color: white;
}

.app {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(114, 18, 22), rgb(0, 0, 97));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user_tab {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.center {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 32%;
    text-align: center;
}

.recommended_tab {
    width: 34%;
}

.user_tab_inner {
    width: 100%;
}

.user_tab_options_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: white; */
}

.user_tab_options_items > li {
    text-decoration: none;
    list-style-type: none;
    transition: opacity 0.15s;
    padding: 20px 10px;
    color: white;
    margin: 3px 0;
}

.user_tab_options_items > li:hover {
    /* border-right: 3px solid black; */
    border-left: 3px solid black;
    opacity: 0.75;
}

.user_tab_options {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    text-align: right;
}

.twitter_logo {
    width: 40px;
}

.twitter_logo:hover {
    opacity: 0.75;
    cursor: pointer;
}

.tweet_button {
    background-color: rgb(30,114,183);
    border: none;
    padding: 20px 100px;
    border-radius: 50px;
    transition: opacity 0.15s;
}

.tweet_button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.tweet_button:active {
    opacity: 0.5;
}

.user_account_user_profile_pic {
    width: 40px;
    border-radius: 100%;
}

.user_account {
    /* text-align: left; */
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 20px 20px;
    /* background-color: white; */
    cursor: pointer;
}

.user_account_username {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.user_account_username > span {
    font-size: 14px;
    font-weight: 600;
}

.username_account {
    font-weight: normal;
    color: gray;
}